unity-src/Library
unity-src/Temp
unity-src/ProjectSettings
unity-src/Library/PackageCache
unity-src/.vs/unity-src/v16/.suo
unity-src/cudnn64_7.dll
unity-src/dnn_model_2_0.onnx
*.csproj
*.dll
unity-src/Assembly-CSharp-Editor.csproj
unity-src/Assembly-CSharp.csproj
*.csproj
